@model DemoAuctrack.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center">Item Details</h2>

<div>
    <hr />
    <div style="text-align:center">
        <h3>You are bidding for...</h3>
        <div style="width:100%;border:2px solid #ccc;background-color:#eee">
            <h4>@Html.DisplayFor(model => model.ItemName)</h4>
            <h4>@Html.DisplayFor(model => model.ItemID)</h4>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <h3>This item is part of the timeframe of...</h3>
        <div style="width:100%;border:2px solid #ccc;background-color:#eee">
            <h4>@Html.DisplayFor(model => model.TimeFrame)</h4>
        </div>
        <h3>Generously donated by</h3>
        <div style="width:100%;border:2px solid #ccc;background-color:#eee">
            <h4>@Html.DisplayFor(model => model.Donator)</h4>
        </div>
        <h3>Which is worth about...</h3>
        <div style="width:100%;border:2px solid #ccc;background-color:#eee">
            <h4>$@Html.DisplayFor(model => model.Value)</h4>
        </div>
        <h3>Currently, the bid is at...</h3>
        <div style="width:100%;border:2px solid #ccc;background-color:#eee">
            <h4>$@Html.DisplayFor(model => model.Current)</h4>
        </div>
        <h3>The bidder that holds the highest bid is...</h3>
        <div style="width:100%;border:2px solid #ccc;background-color:#eee">
            <h4>Bidder @Html.DisplayFor(model => model.Winner)</h4>
        </div>
    </div>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        <br />
        <div style="text-align:center">
            <a href="@Url.Action("Edit", "Item", new { id = Model.ItemID })" style="display:inline"><input type="button" class="button button2" style="margin-left:2px;background-color:#4f0f87;font-size:20px;border-radius:12px;display:inline" value="Edit" /></a>
            <a href="@Url.Action("Index", "Item")" style="display:inline"><input type="button" class="button button2" style="margin-left:2px;background-color:#4f0f87;font-size:20px;border-radius:12px;display:inline" value="Back to List" /></a>

        </div>
    }
    @if (!Request.IsAuthenticated)
    {
        <br />
        <div style="text-align:center">
            <a href="@Url.Action("Connect", "Home")" style="display:inline"><input type="button" class="button button2" style="margin-left:2px;background-color:#4f0f87;font-size:20px;border-radius:12px;display:inline" value="Bid Now!" /></a>
            <a href="@Url.Action("Index", "Item")" style="display:inline"><input type="button" class="button button2" style="margin-left:2px;background-color:#4f0f87;font-size:20px;border-radius:12px;display:inline" value="Back to List" /></a>

        </div>
    }
</p>
